@use "../abstracts/vars" as *;

.modal {
  width: 35%;
  padding: 40px 30px;
  border-radius: 2px;
}

.modal-step1 {
  background: $dark;
  p {
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .headline-green {
    color: $green;
    font-family: "Uniform-Pro-Blk";
    font-size: 2rem;
    padding-bottom: 20px;
  }
}

.modal-step2 {
  margin-top: 20px;

  p {
    color: white;
    color: black;
    font-size: 0.9rem;
    font-weight: 700;
  }

  button {
    margin-top: 40px;
  }
}
